canvas(id="face-0", class="canvas")
canvas(id="face-1", class="canvas")
canvas(id="face-2", class="canvas")
canvas(id="face-3", class="canvas")
canvas(id="face-4", class="canvas")
canvas(id="face-5", class="canvas")

h3="Use WASD to move"
div(id="chat")

script(src="js/libs/jquery.js")
script(src="/socket.io/socket.io.js")
script(src="/js/libs/underscore.js")
script(src="/js/libs/asevented.js")
script(src="/js/app.js")
script(src="/js/game.js")
