canvas(id="mainCanvas", class="canvas")
h3="Use WASD to move"
div(id="chat")

script(src="/socket.io/socket.io.js")
script(src="/js/libs/underscore.js")
script(src="/js/app.js")
script(src="/js/game.js")
