div#gameView
	div#cube
		div#face-0(class="face")
		div#face-1(class="face")
		div#face-2(class="face")
		div#face-3(class="face")
		div#face-4(class="face")
		div#face-5(class="face")


h3#instructions
	"Use WASD to move"

div(id="chat")
div(id="msg")

