html
	head
		title="Snake Jitsu"
		link(rel="stylesheet", type="text/css", href="css/layout.css")
		link(rel="stylesheet", type="text/css",href="css/game.css")
		script(src="js/libs/jquery.js")
	body
		div#container!= partial('index.jade')  
		div(id="msg")