body  {
	background-color: #EFEFEF;
}
#container {
	
	width: 50%;
    margin: 0px auto;
	margin-top: 50px;
}
.canvas {
	margin-left: auto;
	margin-right: auto;
}
#chat {
	width: 500px;
	height: 50px;
	margin-top: 10px;
	border: 1px solid black;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}